@font-face {
	font-family: JamesFont;
	src: url(Fonts/JamesFont.ttf);
}

body {
	background-color: #ff661a;
}

#arrow {
	float: left;
	width: 180px;
	margin-top: -50px;
	margin-right: -300px;
	margin-left: 5px;
}

h1 {
	color: #000000;
	text-align: center;
	font-family: "JamesFont";
	font-size: 60px;
	margin-left: -800;
}


a:link {
	color: #ff661a;
	text-decoration: none;
}

a:visited {
	color: #ff661a;
	text-decoration: none;
}

a:hover {
	color: #ff811a;
	text-decoration: underline;
}

a:active {
	color: #ff661a;
	text-decoration: none;
}

div {
	width: 100%;
	padding-top: 30px;
	padding-bottom:30px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: -8px;
	background-color: #000000;
	text-align: center;
	font-family: "JamesFont";
	font-size: 30px;
	color: #ff661a;
}