@font-face {
	font-family: JamesFont;
	src: url(Fonts/JamesFont.ttf);
}

body {
	background-color: #ff661a;
}

img {
	float: left;
	width: 150px;
	margin-left: -5px;
	margin-top: -50px;
	margin-right: -200px;
}

h1 {
	color: #000000;
	text-align: center;
	font-family: "JamesFont";
	font-size: 60px;
}

a:link {
	color: #ff661a;
	text-decoration: none;
}

a:visited {
	color: #ff661a;
	text-decoration: none;
}

a:hover {
	color: #ff811a;
	text-decoration: underline;
}

a:active {
	color: #ff661a;
	text-decoration: none;
}

input {
	color: #000000;
	font-family: "Arial";
	width: 20%;
	margin: 5px;
	font-size: 10px;
}

table {
    border-collapse: collapse;
    background-color: #000000;
    color: #ff661a;
    text-align: center;
    font-family: "Arial";
    font-size:20px;
    width: 100%;
}

table, th, td {
    border-width: 2px;
    border-style: solid;
    border-color: #ff661a #ff661a;
}